@{
    ViewBag.Title = "About";
}

<br />
<br />

<div class="align-items-center">
    <div class="align-self-center">
        <h1 class="h1 text-success"><b>Super</b> La familia</h1>
        <p>
            Super la Familia es un supermercado costarricense que vende productos de calidad, desde 2017. Nos encontramos ubicados en Heredia Centro.
            Visitenos de lunes a domingo de 7 am a 6 pm.
        </p>
    </div>
</div>
